body {
    background: linear-gradient(180deg, #7CA064 0%, #3D5A21 100%, #264E00 100%) fixed;
    color: white;
    font-family: 'Roboto Condensed', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.35 !important;
}

.main-nav, footer {
    background: linear-gradient(0deg, #578148 0%, #7CA064 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.50);
}

.box {
    border-radius: .75rem;
    box-shadow: 0px 0px 6px 0px #000 inset;
}

.grad-discord {
    background: linear-gradient(0deg, #6997D5 0%, #454EB9 0.01%, #5865F2 100%);
}

.grad-twitter {
    background: linear-gradient(0deg, #206C9B 0.01%, #1DA1F2 100%);
}

.grad-youtube {
    background: linear-gradient(0deg, #9C0F0F 0.01%, #F00 100%);
}

.grad-twitch {
    background: linear-gradient(0deg, #331E52 0%, #9146FF 100%);
}

.grad-tiktok {
    background: linear-gradient(0deg, #000 0%, #4A4A4A 100%);
}

.grad-instagram {
    background: linear-gradient(0deg, #FBAD50 0%, #8A3AB9 100%);
}

.grad-mastodon {
    background: linear-gradient(0deg, #563ACC 0%, #6364FF 100%);
}

.box-featured {
    background: linear-gradient(0deg, #489315 0%, #78BA38 100%);
    box-shadow: 0px 0px 6px 0px #000 inset;
}

.box-champ {
    background: linear-gradient(0deg, #FFC842 0%, #D9A015 100%);
    box-shadow: 0px 0px 6px 0px #000 inset;
}

.box-chance {
    background: linear-gradient(0deg, #B4225D 0%, #F54F92 100%);
    box-shadow: 0px 0px 6px 0px #000 inset;
}

.box-past {
    background: linear-gradient(0deg, #707070 0%, #3C3C3C 100%);
    box-shadow: 0px 0px 6px 0px #000 inset;
}

.box-chest {
    background: linear-gradient(0deg, #425979 0%, #6997D5 100%);
    box-shadow: 0px 0px 6px 0px #000 inset;
}

.default-text-shadow {
    text-shadow: 0px 4px 4px #00000040;
}

.default-inset {
    box-shadow: 0px 0px 6px 0px #000 inset;
}

.img-shadow {
	position: relative;
	max-width: 100%;
	float: left;
}

.img-shadow::before {
    content: "";
    border-radius: .75rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0px 0px 8px 0px #000 inset;
} 
	   
.img-shadow img {
	float: left;
}

.homepage-font-size {
    font-size: 1.3rem;
}

.default-btn {
    border-radius: 0.5rem;
    background: linear-gradient(0deg, #F7941E 0%, #FBBF66 100%);
    box-shadow: 0px 0px 3px 0px #000 inset;
    transition: all 200ms ease;
}

.default-btn:hover {
    background: linear-gradient(0deg, #ce7d1b 0%, #7e5d2a 100%);
}

.header-link {
    color: white;
}

.header-link:hover {
    color: white;
}

/* Current Players */
.box-trm {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/trm.jpg'), lightgray 50% / cover no-repeat;
}

.box-samuel {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/samuel.jpg'), lightgray 50% / cover no-repeat;
}

.box-cstro {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/cstro.jpg'), lightgray 50% / cover no-repeat;
}

.box-hydrogen {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/hydrogen.png'), lightgray 50% / cover no-repeat;
}

.box-tom {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/tom.jpg'), lightgray 50% / cover no-repeat;
}

.box-scion {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/scion.jpg'), lightgray 50% / cover no-repeat;
}

.box-triforce {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/triforce.png'), lightgray 50% / cover no-repeat;
}

.box-rose {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/rose.png'), lightgray 50% / cover no-repeat;
}


/* Old Players */
.box-ash {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/ash.png'), lightgray 50% / cover no-repeat;
}

.box-snhk {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/snhk.jpg'), lightgray 50% / cover no-repeat;
}

.box-jay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/jay.png'), lightgray 50% / cover no-repeat;
}

.box-inkydink {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/inkydink.jpg'), lightgray 50% / cover no-repeat;
}

.box-awed {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/awed.png'), lightgray 50% / cover no-repeat;
}

.box-josephine {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%), url('/img/players/josephine.png'), lightgray 50% / cover no-repeat;
}

.box-player {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 0px 6px 0px #000 inset;
}

.google-sheet-embed {
    height: 80vh;
}