---
title: News
desc: Official news from Leagueopoly.
description: Official news from Leagueopoly.
keywords: news, league news, leagueopoly news
layout: default
permalink: /news/
---

<h2 class="mb-4 mt-4 text-center font-semibold text-xl">Latest news</h2>

<div class="box-featured rounded-xl p-4 space-y-4">
	{% for post in site.posts %}
	<div class="flex md:flex-row flex-col">
		<div class="rounded-lg mb-0 flex justify-center items-center md:w-1/4 w-full">
			<img class="rounded-xl" src="/img/{{ post.image }}" />
		</div>
		<div class="flex flex-col justify-center p-3 pr-0 md:w-3/4">
			<div class="float-left sm:pl-4 pl-0">
				<h4 class="homepage-font-size font-semibold default-text-shadow mb-2">{{ post.title }}</h4>
			
				<h4 class="post-desc">
					{{ post.desc }}
				</h4>

				<h4 class="text-gray-200 my-2">
					Posted on {{ post.date | date: '%B %d, %Y' }}

					{% if post.via %}
						on {{ post.via }}
					{% endif %}

					{% if post.author %}
						by {{ post.author }}{% if post.last_modified_at %},{% endif %}
					{% endif %}

					{% if post.last_modified_at %}
						updated on {{ post.last_modified_at | date: '%B %d, %Y' }}
					{% endif %}
				</h4>

				<div class="mt-4">
					<a href="{{ post.url }}" class="default-btn text-md default-text-shadow font-medium px-4 py-2">
						Read more
					</a>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>