<footer class="p-5 mt-4">
    <div class="">
		<div class="max-w-6xl m-auto text-white flex flex-wrap">
		   	<div class="p-5 w-48">
				<div class="text-xs uppercase font-medium" style="color: #78f000;">Leagueopoly.com</div>
				<a class="my-3 block" href="/">Home</a>
				<a class="my-3 block" href="/news">News</a>
				<a class="my-3 block" href="/players">Players</a>
				<a class="my-3 block" href="/stats">Stats</a>
				<a class="my-3 block" href="/standings">Standings</a> 
		   	</div>
		   	<div class="p-5 w-48">
				<div class="text-xs uppercase font-medium" style="color: #78f000;">Resources</div>
				<a class="my-3 block" href="https://docs.google.com/document/d/1i7jF88yNu2AcxKogm39uCA1eF3qLij6mPUU2RDwps6g/edit">League Handbook</a>
				<a class="my-3 block" href="https://docs.google.com/spreadsheets/d/1Bhjwc4jp96l3IflLFbj2mS27GpCz6XIYNewJteIqsDM/edit#gid=0">Stats Google Sheet</a>
				<a class="my-3 block" href="https://www.youtube.com/playlist?list=PLVLzotTsJvfByivm5t6dPax304X9oYHeN">VOD Playlist</a>
		   	</div>
		</div>
	 </div>
	 
	 <div class="pt-2 ">
		<div class="flex pb-5 px-3 m-auto pt-5 border-t text-white text-sm flex-col md:flex-row max-w-6xl justify-center items-center">
		   <div class="md:mb-0 mb-4">© Michael Webb, <span id="year">2023</span>. All rights reserved.</div>
		   <div class="flex-grow"></div>
		   <div class="flex-row flex">
				<div class="inline-flex space-x-2">
					<a href="https://discord.gg/dxyWmev9k5">   
						<div class="aspect-square box grad-discord w-12 h-12 flex justify-center items-center">
							<i class="fa-brands fa-discord text-white text-xl"></i>
						</div>
					</a>
					
					<a href="https://twitter.com/leagueopoly">
						<div class="aspect-square box grad-twitter w-12 h-12 flex justify-center items-center">
							<i class="fa-brands fa-twitter text-white text-xl"></i>
						</div>
					</a>

					<a href="https://youtube.com/@leagueopoly">
						<div class="aspect-square box grad-youtube w-12 h-12 flex justify-center items-center">
							<i class="fa-brands fa-youtube text-white text-xl"></i>
						</div>
					</a>

					<a href="https://tiktok.com/@leagueopoly">
						<div class="aspect-square box grad-tiktok w-12 h-12 flex justify-center items-center">
							<i class="fa-brands fa-tiktok text-white text-xl"></i>
						</div>
					</a>

					<a href="https://twitch.com/therandommelon">
						<div class="aspect-square box grad-twitch w-12 h-12 flex justify-center items-center">
							<i class="fa-brands fa-twitch text-white text-xl"></i>
						</div>
					</a>

					<a href="https://instagram.com/leagueopoly">
						<div class="aspect-square box grad-instagram w-12 h-12 flex justify-center items-center">
							<i class="fa-brands fa-instagram text-white text-xl"></i>
						</div>
					</a>

					<a href="https://threads.net/@leagueopoly">
						<div class="aspect-square box grad-tiktok w-12 h-12 flex justify-center items-center">
							<i class="fa-solid fa-at text-white text-xl"></i>
						</div>
					</a>
				</div>
		   </div>
		</div>
	 </div>
</footer>

<script>
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
