<head>
	{% capture pageDescription | strip_html | strip_newlines | strip %}
		{% if page.layout == "players" %}
			Meet {{ page.player_name }}, a player of Leagueopoly - an esports league based on the Monopoly clone Richup.io. Players compete to earn points based on their per-game ranking. Top two in each conference advance!
		{% elsif page.desc %}
			{{ page.desc | escape }}
		{% else %}
			{{ pageTitle | escape }}
		{% endif %}
	{% endcapture %}

	{% capture pageTitle | strip_html | strip_newlines | strip %}
		{% if page.layout == "players" %}
			{{ page.player_name }}
		{% else %}
			{{ page.title | escape }}
		{% endif %}
	{% endcapture %}

	<!-- Search Engine Meta -->
	<meta name="robots" content="index, follow">
	<meta name="author" content="Leagueopoly" />
	<meta name="description" content="{{ pageDescription }}">
	<meta name="keywords" content="leagueopoly, monopoly league, monopoly esports league, esports, {{ page.keywords | escape }}">

	<!-- Open Graph  -->
	<meta property="og:title" content="{{ pageTitle | escape }}">
	<meta property="og:site_name" content="Leagueopoly">
	<meta property="og:url" content="https://leagueopoly.com">
	<meta property="og:description" content="{{ pageDescription }}">
	<meta property="og:type" content="website">
	{% if page.image %}
		<meta property="og:image" content="https://leagueopoly.com/img/{{ page.image }}">
	{% else %}
		<meta property="og:image" content="https://leagueopoly.com/img/melonia-logo.png">
	{% endif %}

	<!-- Twitter -->
	{% if page.image %}
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@Leagueopoly" />
		<meta name="twitter:title" content="{{ pageTitle | escape }} - {{ site.title | escape }}" />
		<meta name="twitter:description" content="{{ pageDescription }}" />
		<meta name="twitter:image" content="https://leagueopoly.com/img/{{ page.image }}" />
	{% else %}
		<meta name="twitter:card" content="summary" />
		<meta name="twitter:site" content="@Leagueopoly" />
		<meta name="twitter:title" content="{{ pageTitle | escape }} - {{ site.title | escape }}" />
		<meta name="twitter:description" content="{{ pageDescription }}" />
	{% endif %}

	<title>{% if pageTitle %}{{ pageTitle }} - {% endif %} Leagueopoly</title>

	<meta name=”theme-color” content="#5BBE18">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" href="/css/style.css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/site.webmanifest">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#5BBE18">
	<meta name="theme-color" content="#5BBE18">
</head>	
