---
layout: default
---

<div class="flex w-full rounded-2xl box-{{ page.conf_id }} sm:flex-row flex-col">
    <div class="box-{{ page.player_id }} box-player p-4 sm:w-64 w-full h-64 rounded-2xl">
        <div class="justify-center items-end w-full h-full flex">
            <b class="default-text-shadow text-2xl">{{ page.player_name }}</b>
        </div>
    </div>
	<div class="flex-auto">
		<div class="sm:p-6 p-4 flex h-full items-center">
            <table>
                <tbody>
                    <tr>
                        <td><p class="default-text-shadow mr-4">Conference</b></td>
                        <td><b class="default-text-shadow text-2xl">{{ page.conference }}</p></td>
                    </tr>
                    <tr>
                        <td><p class="default-text-shadow mr-4">Nationality</b></td>
                        <td><b class="default-text-shadow text-2xl">{{ page.nationality }}</p></td>
                    </tr>
                    <tr>
                        <td><p class="default-text-shadow mr-4">Online Activities</b></td>
                        <td><b class="default-text-shadow text-2xl">{{ page.activities }}</p></td>
                    </tr>
                    <tr>
                        <td><p class="default-text-shadow mr-4">Website</b></td>
                        <td><b class="default-text-shadow text-2xl"><a href="{{ page.website_url }}">{{ page.website }}</a></p></td>
                    </tr>
                </tbody>
            </table>
		</div>
	</div>
</div>

{% if page.championships %}
<div class="flex w-full rounded-2xl mt-4 box-champ sm:flex-row flex-col">
	<div class="flex-auto">
        <div class="sm:p-6 p-4 flex items-center space-x-2">
            <img style="filter: drop-shadow(0px 0px 3px #00000071);" src="/img/trophy.png" class="w-[32px] h-[32px]" />
           
            <div class="ml-6 flex items-center">
                <table>
                    <tbody>
                        <tr>
                            <td><b class="default-text-shadow text-2xl mr-4">Leagueopoly Championships Won</b></td>
                            <td><p class="default-text-shadow">{{ page.championships }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</div>
</div>
{% endif %}

{% if page.awards %}

{% assign awardBySeason = page.awards | split: "-" %}
<div class="flex w-full rounded-2xl mt-4 box-awards sm:flex-row flex-col">
	<div class="flex-auto">
        <div class="sm:px-6 sm:pt-6 px-4 pt-6 pb-2 flex items-center space-x-2">
            <img style="filter: drop-shadow(0px 0px 3px #00000071);" src="/img/trophy.png" class="w-[32px] h-[32px]" />
            <b class="default-text-shadow text-2xl">Leagueopoly Awards Earned</b>
        </div>
		<div class="sm:px-6 sm:pb-5 px-4 pb-4 flex items-center">
            <table>
                <tbody>
                    {% for awardSzn in awardBySeason %}
                        {% assign award = awardSzn | split: "|" %}
                        <tr>
                            <td><p class="default-text-shadow mr-4">{{ award[0] }}</p></td>
                            <td><b class="default-text-shadow text-2xl">{{ award[1] }}</b></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
		</div>
	</div>
</div>
{% endif %}